/* Shared styles Starts */
:root {
    --color-primary: #FF42A5;
    --color-secondary: #0B0223;
    --color-text: #534C64;
    --color-nav-text: #3C354F;
}
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.button-common-shape{
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    padding: 1.25rem 2.5rem;
    border: none;
}


/* Shared Styles End */

/* Nav-bar style starts */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-leftside{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}
.nav-leftside>h3{
    color: var(--color-secondary);
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-title-first-letter{
    color: var(--color-primary);
}
.nav-rightside{
    color: var(--color-nav-text);
    font-weight: 500;
}
.nav-rightside ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-rightside li{
    list-style-type: none;
}
.special{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;
    align-items: center;
    gap: 1.25rem;
}
.nav-rightside a{
    text-decoration: none;
}

/* Nav Style Ends */

/* Main Starts */
/* Section One Starts */
.section-one-container{
    display: flex;
    /* max-height: 700px; */
    
}
.section-one-info-container{
    width: 50%;
    background-image: url('../images/Vector\ 2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.section-one-info{
    padding: 3rem 0rem 3rem 8rem;
}
.section-one-info-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0px;
}
.section-one-info-highlight{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    font-size: 6rem;
    font-weight: 800;
}
.section-one-lines{
    margin: 0;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 1rem;
}
.section-one-lines p{
    margin: .8rem;
}
.line-1,.line-2,.line-3{
    display: flex;
}
.section-one-buttons{
    padding-top: 1rem;
}
.button-signin{
    color: white;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.button-gorogue{
    color: white;
    background: #4EC5F7;
    margin-left: 1rem;
}
.section-one-img{
    width: 60%;
}
.section-one-img img{
    /* padding-left: 40px; */
    
    width: 600PX;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

/* ------------------- */
/* ------------------- */
/* --Responsive Style- */
/* ------------------- */
/* ------------------- */

/* ----For Phone---- */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    .nav-rightside ul {
        flex-direction: column;
        padding-left: 0;
    }
}