/* Shared styles Starts */
:root {
    --color-primary: #FF42A5;
    --color-secondary: #0B0223;
    --color-text: #534C64;
    --color-nav-text: #3C354F;
}
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.button-common-shape{
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    padding: 1.25rem 2.5rem;
    border: none;
}
.color-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Shared Styles End */

/* Nav-bar style starts */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-leftside{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}
.nav-leftside>h3{
    color: var(--color-secondary);
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-title-first-letter{
    color: var(--color-primary);
}
.nav-rightside{
    color: var(--color-nav-text);
    font-weight: 500;
}
.nav-rightside ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-rightside li{
    list-style-type: none;
}
.special{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;
    align-items: center;
    gap: 1.25rem;
}
.nav-rightside a{
    text-decoration: none;
}

/* Nav Style Ends */

/* Main Starts */
/* Section One Starts */
.section-one-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    /* max-height: 700px; */
    
}
.section-one-info-container{
    width: 50%;
    background-image: url('../images/Vector\ 2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding-left: 9rem;
    padding-bottom: 3rem;
    
}
.section-one-info-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0px;
}
.section-one-info-highlight{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    font-size: 6rem;
    font-weight: 800;
}
.section-one-lines{
    margin: 0;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 1rem;
}
.section-one-lines p{
    margin: .8rem;
}
.line-1,.line-2,.line-3{
    display: flex;
}
.section-one-buttons{
    padding-top: 1rem;
}
.button-signin{
    color: white;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.button-gorogue{
    color: white;
    background: #4EC5F7;
    margin-left: 1rem;
}
.section-one-img{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center; 
}
.section-one-img img{
    width: 80%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

/* Section two grid style start */
.section-two{
    text-align: center;
}
.section-two-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.funny-highlight{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.section-two-description{
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;

}
.section-two-card-container{
    
    text-align: left;
    padding: 120px;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}
.card>img{
    border-radius: 1rem;
    width: 100%;
    /*For Hover */
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    /* For Hover */
}
.card p{
    color: #534C64;
font-size: 1.25rem;
font-weight: 500;
}
/* Hover effect followed from W3SCHOOLS */
.card{
   
    position: relative;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card:hover .hover-effect {
    opacity: .3;
  }
  .card:hover .middle {
    opacity: 1;
   
  }
  .hover-text {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 16px 32px;
  }


/* section three starts */
.section-three-part-one{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.section-three-left-container{
    padding-right:8rem;
    width: 500px;
}
.section-three-left-container h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.section-three-left-container p{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: right;
}
.section-three-left-container span{
    display: block;
    text-align: right;
}

.section-three-right-container{
    position: relative;
}
.part-one-parent-img{
    width: 80%;
}
.part-one-child-img{
    width: 40%;
    position: absolute;
    right: 500px;
    top: 300px;   
}
/* Section three part 2 */
.section-three-part-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
.section-three-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.section-three-right-container2{
    padding-right:3.5rem;
    width: 430px;
}
.section-three-left-container2{
    position: relative;
}
.part-two-parent-img{
    width: 70%;
    padding-left: 8rem;
}
.part-two-child-img{
    position: absolute;
    width: 32%;
    left: 500px;
    top: 300px;
}
.section-three-right-container2 p{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}

/* Fourth section "Clicable items" Starts*/
.clickables-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 150px auto 0;
    padding: 70px;
    gap: 1.5rem;
}
.click-items{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
background: #FFF;
width: fit-content;
}
.click-items:hover{
    border: 2px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    width: fit-content;
    cursor: pointer;
}
.click-items img{
    width: 60px;
height: 60px;
}
.click-items p{
    color: #0B0223;
font-size: 1.25rem;
font-weight: 600;
padding: 2px 10px;
}
.click-items:hover p{
    color: var(--color-primary);
}

/* Footer Starts */
footer{
    background-color: var(--color-secondary);
}
.footer-logo-title{
    display: flex;
    justify-content: center;
}
.footer-title-white{
    color: white;
}
.footer-links-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-links-container p{
    color: white;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
}
.footer-social-logo-container{
    text-align: center;

}
.footer-social-logo{
    padding: 15px;
    width: 40px;
height: 40px;
}

.footer-doc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-doc-container p, .copyright p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-weight: 500;
}
.copyright{
    display: flex;
    justify-content: center;
}



/* ------------------- */
/* ------------------- */
/* --Responsive Style- */
/* ------------------- */
/* ------------------- */

/* ----For Phone---- */
@media screen and (max-width:576px) {
    nav  {
        flex-direction: column;
    } 
    .nav-rightside ul {
        flex-direction: column;
        padding-left: 0;
    }
    .section-one-container{
        flex-direction: column-reverse;
    }
    .section-one-img{
        width: 100%;
        justify-content: center;
    }
    .section-one-info-container{
        width:fit-content ;
        margin: 1.25rem;
        padding: 1.8rem;
    }
    .section-one-info-title{
        font-size: 2rem;
    }
    .section-one-info-highlight{
        font-size: 4rem; 
    }
    .section-one-lines{
        font-size: .9rem;
        gap: .5rem;
    }
    .button-common-shape{
        border-radius: 2rem;
        font-size: .75rem;
        padding: .9rem 1.9rem;
    }

    .section-two-card-container{
        padding: 50px;
        display: flex;
        flex-direction: column;
    }
    .section-three-left-container{
        text-align: center;
        width: fit-content;
        padding: 5px;
    }
    .section-three-left-container{
        padding: 0;
        width: 500px;
    }
    .section-three-left-container h3{

        font-size: 3rem;
        font-weight: 700;
    }
    .section-three-left-container p{
        width: 350px;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: .8rem;
    }
    .section-three-right-container img{
        margin-left: 50px;
    }
    .section-three-right-container2 p{
        padding: auto;
        margin: 15px;
    }
    .section-three-right-container2 h3{
        padding: auto;
        margin: 15px;
    }
    .section-three-left-container span{
        text-align: center;
    }
    .section-three-part-one{
        flex-direction: column;
        padding: 10px;
    }
    .section-two-description{
        font-size: .8rem;
    }
    .section-two-title{
        text-align: center;
    }

    .section-three-part-two{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    
    .section-three-right-container2{
        padding:0;
    }
    .section-three-left-container2{
        position: relative;
    }
    .part-two-parent-img{
        width: 70%;
        padding: 10px;
    }
    .part-two-child-img{
        position: absolute;
        width: 32%;
        left: 220px;
        top: 200px;
    }
    .section-three-right-container2 p{
        color: #534C64;
        font-size: 1.1rem;
        font-weight: 400;
    }
    .card{
        margin-bottom: 40px;
    }
    .section-three-title{
        margin-top: 0;
        padding-top: 0;
    }
    .clickables-container{
        margin: 0;
        margin-top: 100px;
        padding: 40px 0;
        padding-left: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2px;
        justify-content: center;
        align-items: center;
    }
    .click-items img{
        width: 25px;
        height: 25px;
    }
    .click-items p{
        font-size: .5rem;
    }
    
    .part-one-child-img{
        width: 40%;
        position: absolute;
        right: 250px;
        top: 210px;   
    }
    .footer-links-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2px;
    }
    .footer-links-container p{
        font-size: 1rem;
    }
    .footer-social-logo-container{
        display: grid;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-doc-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 5px;
    }
    .section-three-title{
        font-size: 2.2rem;
    }
    .section-three-left-container{
        padding-right:0;
        width: 350px;
    }

}